.header {
    position: fixed;
    height: 100px;
    width: 100%;
    z-index: 5;
    /* background: blue; */
}

.icon {
    position: fixed;
    width: 100px;
    height: 100px;
    z-index: 5;
    user-select: none;
}