/*This animation does a fade in and squeeze/stretch
Just add "animation: transitionIN 1.5s;" to the class.
@keyframes transitionIN {
    from {
        opacity: 0;
        transform: rotateX(-30deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0)
    }
}
*/
@keyframes fadeIn {
    from {
        transform: scale(0.95);
    }
    to {
        transform: scale(1);
    }
}

@keyframes fadeOut {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0.95);
        opacity: 0;
    }
}

@keyframes fadeInTimelinePoints {
    from {
        transform: translateY(4px) scale(0);
    }
    50% {
        transform: translateY(4px) scale(0);
    }
    to {
        transform: translateY(4px) scale(1);
    }
}

@keyframes fadeInTimelineBar {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}

@keyframes pageLoad {
    from {
        transform: translateX(-20%) translateY(-20%) rotate(45deg);
    }
    to {
        transform: translateX(100%) translateY(100%) rotate(45deg);
    }
}

* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.main {
    /*border: 20px black solid;*/
    max-width: 900px;
    margin: auto;
    text-align:center;
    margin-top: 250px;
    justify-content: center;
    user-select: none;
    animation: fadeIn 1s ease-in-out;
}

.page-title {
    /*border: 20px black solid; */
    max-width: 900px;
    margin: auto;
    text-align: center;
    margin-top: 100px;
    justify-content: center;
    user-select: none;
    animation: fadeIn 1s ease-in-out;
}

.in-progress {
    display: flex;
    user-select: none;
    flex-wrap: wrap;
    justify-content: center;
}
.in-progress-entry {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 20px 0px 20px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.in-progress-entry p li {
    font-size: 1.1em;
}

.in-progress h2 {
    font-size: 3em;
}

/*
.project {
    width: 500px;
    height: 300px;
    margin: 50px;
    background-color: orangered;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 4px 4px #2e2e2e;
    transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
*/

/*
.project.selected {
    justify-content: left;
}
*/

/*
.project h3 {
    transition: 0.5s;
}

.project:hover {
    transform: scale(1.2);
    box-shadow: 25px 25px 30px #888888; 
}
*/

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.container h3 { 
    font-size: 1.5em;
}

.fadeOut {
    animation: fadeOut 0.6s forwards;
}

h1 {
    font-size: 5.5em;
    margin: 5px;
    color: orangered;
}

h2 {
    font-size: 2em;
    font-weight: 600;
    margin: 5px;
    word-spacing: 5px;
}

h3 {
    font-size: 2.2em;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}


a {
    text-decoration: none;
    border-radius: 50%;
}

body {
    margin: 0;
    height: 100%;
    /* background-image: radial-gradient(white, #c4ffff); */
    border: 1px solid transparent;
    /* animation: pageLoad 5s; */
}

.links-box {
    margin-top: 40px;
    /*border: 10px black solid;*/
    display: flex;
    justify-content: center;
    width: auto;
    flex-wrap: wrap;
}

.circle-link {
    /*border: 10px solid red;*/
    border-radius: 50%;
    height: 225px;
    min-width: 225px;
    max-width: 225px;
    background-color: orangered;
    /* background: linear-gradient(45deg, orangered, #ff9b00); */
    color: white;
    padding: 30px;
    margin: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    box-shadow: 3px 3px 4px 4px #2e2e2e;
    transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    animation: fadeIn 1s ease-in-out;
}

.circle-link.ready:hover {
    transform: scale(1.2);
    box-shadow: 25px 25px 30px #888888;
}

.pageLoadBox {
    height: 2500px;
    width: 2500px;
    background-color: white;
    position: fixed;
    box-shadow: 0px 0px 100px 10px white;
    animation: pageLoad 5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    z-index: 1;
}

/*
h1, h2 {
    margin-top: 60px;
}
*/